@import '~antd/dist/antd.css';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: black;
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
	transition: background-color 5000s ease-in-out 0s;
}

:root {
	--amplify-primary-color: #1890ff;
	--amplify-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* Registration */

.registration-content__row {
	margin-top: 25px;
}

.registration-form-container {
	height: calc(100vh - 185px);
}

.react-tel-input > input.form-control {
	width: 107px;
	border-radius: 2px;
	height: 40px;
	border-color: #d9d9d9;
	font-size: 16px;
	font-family: inherit;
	line-height: 1.5715;
	color: rgba(0, 0, 0, 0.65);
	font-variant: tabular-nums;
	transition: all 0.3s;
}

/* kantor form */
.kantor-form-content__row {
	margin-top: 25px;
}

.fiat-amount-input {
	text-align: center;
	border: 0;
	font-size: 5rem;
	max-width: 300px;
}
.fiat-currency-select,
.btc-wallet-select {
	min-width: 300px;
	max-width: 300px;
}
.registration-input-action {
	/* min-width: 10vw; */
}
/* ant controls */
.ant-input-lg,
.ant-input-password.ant-input-password-large,
.ant-picker-large,
.ant-select-selector {
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	/* border-bottom: 1px !important; */
}

.text-white {
	color: #fff !important;
}

.app-footer {
	height: auto !important;
}

#ValidationCodeInput {
	font-size: 4.5em;
	width: 332px;
	border: 0;
}

.logo-exchange-name {
	fill: #285a84;
	fill-opacity: 1;
}

.logo-exchange-icon-orange {
	fill: #ef6f53;
	fill-opacity: 1;
}

.logo-exchange-icon-blue {
	fill: #285a84;
	fill-opacity: 1;
}

.logo-exchange-icon-pink {
	fill: #ffa8c5;
	fill-opacity: 1;
}

.logo-exchange-stroke-blue {
	stroke: #285a84;
	stroke-opacity: 1;
}

.logo-exchange-text-blue {
	fill: #285a84;
	fill-opacity: 1;
}

.application-name-header {
	color: black;
}
.application-name-footer {
	color: black;
}
